body {
    background-color: #E8CEBF;
    font-family: "Adobe Gothic Std B";
    margin: 0;
}

header {
    margin: 0;
    position: sticky;
}

header > h1 {
    font-family: sans-serif;
    color: black;
    font-size: 2rem;
}

button, input[type="submit"] {
    background: yellow;
    color: #000;
    font-size: 0.8rem;
    border-radius: 10px;
    border: none;
    padding: 1em;
    font-weight: bold;
}

button:hover{
    background-color: #d5eaea;
}

input:hover{
    background-color: #d5eaea;
}

